html,
body,
#map {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.leaflet-control-layers, .leaflet-popup-content-wrapper {
    border-radius: 0!important;
}

.leaflet-popup-content {
    margin: 0px 19px 0px 5px;
    line-height: 1.4;
}

.leaflet-popup .context-menu {
    background: #fff;
    padding: 6px 0!important;
    cursor: default;
    list-style-type: none;
    margin: 0!important;
    white-space: nowrap;
}

.leaflet-popup li {
    background-color: #fff;
}

.leaflet-popup .context-menu li a {
    text-decoration: none!important;
    cursor: pointer!important;
}

.leaflet-popup a {
    border-color: transparent;
    border-style: dotted;
    border-width: 1px 0;
    color: #676a6c;
    cursor: default;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 4px 44px 4px 16px;
    position: relative;
}

.leaflet-popup li a:focus, .leaflet-popup li a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}