#mygeotabSygicPage .hidden {
  display: none !important;
}

#mygeotabSygicPage #sygic-vehicle-list {
  padding-left: 0px;
}

#mygeotabSygicPage .sygic-vehicle-dimensions-fieldset {
  padding: 0 !important;
}
